<div mat-dialog-content>
  <h2 mat-dialog-title>{{header}}</h2>
  <span *ngIf="validationFlag&&(!data.name||!data.phone)" style="color: red;" > Complete all fields</span>
    <div class="inputcontainer" >
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input  required  matInput [(ngModel)]="data.name" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>PhoneNumber</mat-label>
        <input type="tel" pattern="[0-9]{11}" required matInput [(ngModel)]="data.phone" >
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button (click)="onOkClick()" cdkFocusInitial>Ok</button>
  </div>
</div>