.container{
    display: flex;
    width: 100%;
    flex-direction: column;

}
app-layout{
     width: 80%;
}
.tablecontainer{
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }